body {
  font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color:antiquewhite;
  padding: 20px;
  border-radius:50px;
  box-shadow: 0px 2px 6px rgb(62, 62, 62);
  height:460px;
}

h1 {
  text-align: center;
}


input {
  border: none;
  width: 295px;
}

button {
  background-color: rgb(243, 222, 165);
  padding: 6px;
  border-radius:50px;
  box-shadow: 0px 2px 6px rgb(62, 62, 62);
  margin-top: 20px;
  width: 200px;
  margin: auto;
  border: none;
}
button:hover {
  background-color:rgb(255, 249, 231);
}

 p {
  margin: 0%;
  color: red;
  font-size: 0.7rem;
 }
  .error {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }

  .sex {
    position: relative;
    left: 50px;
    top: 10px;
  }
a {
  width: 190px;
  background-color: rgb(243, 222, 165);
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: black;
}
